.confirmation-main
  .confirmation-box
    %h2.heading
      購入内容の確認
    .product
      .product-image
        -detail_images = @commodities.images.pluck(:image)
        -# =image_tag detail_images[0], class:"label-image"
      .product-text
        .product-text__name
          = @commodities.name
        .product-text__price
          %span 
            = @commodities.price
          %span.fee-details （税込）送料込み
    .payment-details
      %form_with{action: "#", method: "post", id: "buy-product-form", class: "product-form"}
        .payment-amount-box
          .payment-amount
            .payment-amount__label
              支払い金額
            .payment-amount__price
              = @commodities.price
          .point
            %label
              %input{type: "checkbox", id: "check", class: "point-checkbox", name: "check"} 
                %span.border-check
                  =icon('fa', 'check')
                %span.explanatory-text
                  ポイントを使用 (所持ポイント: P23)
        .method-of-payment
          .inner-box
            %ul.inner-box__heading
              %li
                %h3 支払い方法
                - if @default_card_information.blank?
                  %br クレジットカードが登録されていません
                - else
                  = "**** **** **** " + @default_card_information.last4
                  - exp_month = @default_card_information.exp_month.to_s
                  - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                  = exp_month + " / " + exp_year
            .inner-box__card-logo
              =image_tag src="visa.svg", size: "50"
        .shipping-address
          %ul.shipping-address__heading
            %li
              %h3 配送先
            %li
              =link_to "#", class: "change-link" do
                変更する
          .shipping-address__address
            〒105-0011
            %br/
            東京都港区芝公園4‐2‐8
            %br/
            中田 彰都
        .buy-button
        = form_with url: pay_commodity_path(@commodities.id),method: :post, local: true do |form| 
          = form.submit '購入する',class: "buy-red-button"