.side
  .side-vavi
    .side-navi-list
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            マイページ
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            お知らせ
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            やることリスト
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            いいね！一覧
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            出品する
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            下書き一覧
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            出品した商品ー出品中
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            出品した商品ー取引中
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            出品した商品ー売却済み
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            購入した商品ー取引中
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            購入した商品ー過去の取引
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            ニュース一覧
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            評価一覧
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            ガイド
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            お問い合わせ
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      .side-navi-list-content-title
        メルペイ
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            売り上げ・振り込み申請
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            ポイント
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      .side-navi-list-content-title
        設定
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            プロフィール
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            お届け先変更
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to new_credit_path, class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            支払い方法
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            メール/パスワード
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            本人情報
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to "#", class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            電話番号の確認
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
      =link_to logout_mypages_path, class: "side-page-link" do
        .side-navi-list-content
          .side-vaci-list-content-name
            ログアウト
        .side-vaci-list-content-icon
        = icon('fas', 'chevron-right')
